<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="headerfiles(title)">
	<meta charset="UTF-8" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link th:href="@{/css/my-style.css}" rel="stylesheet">
	<title th:text="${title}"></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cairo&display=swap">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body>	
	<header th:fragment="intestazione" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/private" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img class="bi me-2" width="40" src="/images/logo_only.png"/><h3>FreeYourMind</h3>
      </a>

		
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" sec:authorize="isAnonymous()">
      	<li><a href="/attivita" class="nav-link" th:text="#{pageTitle.attivita}">Attivita</a></li>
      </ul>
      
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" sec:authorize="!isAnonymous()">
        <li>
			<div class="dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{pageTitle.attivita}">
					Attività
				</a>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
					<li><a class="dropdown-item nav-link" th:text="#{pageTitle.attivita}" href="/attivita">Attività</a></li>
					<li><a class="dropdown-item nav-link" th:text="#{attivita.organizzata}" href="/attivitaOrganizzate">Le mie attività</a></li>
					<li><a class="dropdown-item nav-link" th:text="#{title.attivita.nuova}" href="/addAttivita">Nuova attività</a></li>
				</ul>
			</div>
        </li>
        <li><a href="/prenotazioni" class="nav-link" th:text="#{pageTitle.prenotazioni}">Prenotazioni</a></li>
        <li><a href="/recensioni" class="nav-link" th:text="#{pageTitle.recensioni}">Recensioni</a></li>
      </ul>

      <div class="col-md-3 text-end" sec:authorize="!isAnonymous()">
      	<a href="/profilo">
       	 	<button type="button" class="btn btn-outline-success me-2" th:text="#{title.profilo}">Profilo</button>
      	</a>
      	<form style="display: inline;" th:action="@{/logout}" method="POST">
        	<button type="submit" class="btn btn-danger">Logout</button>
      	</form>
      </div>
      
      <div sec:authorize="isAnonymous()" class="col-md-3 text-end">
        <button type="button" onclick="location.href='/login'" class="btn btn-outline-warning me-2">Login</button>
        <button type="button" onclick="location.href='/signup'" class="btn btn-warning" th:text="#{title.signup}">Unisciti a noi</button>
      </div>
	</header>

	
	<footer th:fragment="fondo" class="footer">
		<div class="container p-3">
			<div class="row">
				<div class="col">
					<img src="/images/logo_footer.png" class="img-responsive w-50">
				</div>
				<div class="col">
					<h2>Free Your Mind</h2>
					<hr>
					<i class="fa fa-home"></i><span> <b>Indirizzo: </b> Via della stazione, 19 Roma (RM)</span><br>
					<i class="fa fa-envelope-o"></i><span> <b>Email: </b> <a href="mailto::andate@via.org">info@fym.org</a></span><br>
					<i class="fa fa-phone"></i><span> <b>Telefono: </b> 33333333</span><br>
				</div>
				<div class="col">
					<h2>Policies</h2>
					<hr>
					<i class="fa fa-file"></i><span> <a href="#">Cookie Policy</a></span><br>
					<i class="fa fa-user-secret"></i><span> <a href="#">Privacy Policy</a></span><br>
				</div>
			</div>
      	</div>
	</footer>
</body>
</html>