body{
	margin: 0px;
	font-family: "Cairo";
	background-color: lightgray;
	background-color: #30475e;
	color: #f0ad4e;
}

.nav-link{
    color: #ececec;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
}

.nav-link:hover{
    color: #f0ad4e;
}


a{
    color: #f0ad4e;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
}

a:hover{
    color: lightgray;
}

header {
    color: #f0ad4e;
	background-color: #222831; 
	padding: 5px;
	/*background-image: linear-gradient(to right, beige, #fdd54f);*/
	/*
    #ff5757
    #737373
    #545454
    
    #fdd54f
    #f8049c
    */
}

header h3 {
	color: #f0ad4e;
}

footer .container{
	background-color: transparent;
}

.card{
	background-color: #f0ad4e;	
	color: #222831;
}

.headerColor{
	background-color: #222831;
	color: white;
}

.card button:hover{
	background-color: #30475e;
	color: #f0ad4e !important;
}

.errors {
	color: red;
}

.box {
	border: 1px solid gray;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 5px;
}

.dropdown-menu{
	background-color: #30475e;	
}

footer{
    color: #545454;
	background-color: #ececec; 
}

footer a{
	color: #545454;
}