<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.attivita})"> </head>
  <body>
  	<header th:replace="fragments/base.html :: intestazione"></header>
    <main role="main">
		<div class="container mt-2 mb-1 p-5 pt-2">
 			<div class="row">
				<div th:each="a : ${attivita}" class="col-6">
					<div class="card border-light mb-3 mx-auto">
						<form th:action="@{/prenota}" method="POST">
							<div class="card-header" th:text=#{title.attivita}></div>
							<img th:src="${a.immagine}" class="card-img-top" alt="...">	
							<div class="card-body">
								<h5 class="card-title" th:text="${a.nome}"></h5>
								<p class="card-text" th:text="${a.descrizione}"></p>
								<p><i class="fa fa-list-ol" aria-hidden="true"></i> <b><span th:text="#{attivita.posti}"></span>:</b> <span class="card-text" th:text="${a.postiDisponibili}">Posti</span></p>
								<p><i class="fa fa-calendar" aria-hidden="true"></i> <b><span th:text="#{attivita.data}"></span>:</b> <span class="card-text" th:text="${#calendars.format(a.data, 'dd/MM/yyyy')}">Data</span></p>
								<p th:if="${a.data.before(#dates.createNow()) and a.getRating() != 0}"><i class="fa fa-star-o" aria-hidden="true"></i> <b><span th:text="#{attivita.punteggio}"></span>:</b> <i th:each="i : ${#numbers.sequence( 0, a.getRating()-1)}" class="fa fa-star"></i></p>
								<div sec:authorize="!isAnonymous()" class="row">
									<div class="col-8">
										
										<span th:if="${!isOrganizzatore and a.postiDisponibili > 0 and !a.data.before(#dates.createNow()) and !socio.hasPrenotatoAttivita(a)}"><b><span th:text="#{prenotazione.note}"></span>:</b> <textarea class="form-control" style="display:inline" name="note"></textarea></span>
										
									</div>
									<div class="col-4">
										
										<button class="btn headerColor float-end" th:if="${!isOrganizzatore and a.postiDisponibili > 0 and !a.data.before(#dates.createNow()) and !socio.hasPrenotatoAttivita(a)}" th:text="#{attivita.prenota}">Prenota</button>
										<button disabled class="btn headerColor float-end" th:if="${!isOrganizzatore and socio.hasPrenotatoAttivita(a) and !a.data.before(#dates.createNow())}" th:text="#{attivita.prenotato}">Prenotato</button>
										
										<button type="button" th:onclick="|window.location.href = '@{'/dettaglioAttivita/' +${a.id}}'|" class="btn headerColor float-end" th:if="${isOrganizzatore}" th:text="#{attivita.dettagli}">Dettagli</button>
										
										<button type="button" th:onclick="|window.location.href = '@{'/addRecensione/' +${a.id}}'|" class="btn headerColor float-end" th:if="${a.data.before(#dates.createNow()) and !isOrganizzatore and socio.hasPrenotatoAttivita(a) and !socio.hasRecensitoAttivita(a)}" th:text="#{attivita.nuovaRecensione}">Lascia una recensione</button>
										
									</div>
								</div>
								<div sec:authorize="!isAnonymous()">
									<button disabled class="btn headerColor float-end mb-3" th:if="${!isOrganizzatore and socio.hasRecensitoAttivita(a)}" th:text="#{attivita.recensito}">Recensito</button>
									<button disabled class="btn headerColor float-end mb-3" th:if="${!isOrganizzatore and !socio.hasPrenotatoAttivita(a) and a.data.before(#dates.createNow())}" th:text="#{attivita.nonPartecipato}">Non hai partecipato</button>
									
									<input hidden th:value="${a.id}" name="attivita" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
    </main>
  	<footer th:replace="fragments/base.html :: fondo"></footer>
  </body>
</html>
