<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{attivita.editor})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<main role="main p">
	    <div class="container mt-5 mb-5 p-5 pt-2">
			<form th:action="@{/confermaAttivita}" method="POST" enctype="multipart/form-data" th:object="${attivita}">
				<div class="row">
					<h2 th:text="#{attivita.editor}"></h2>
				</div>
				<div class="row">
					<div class="col">
						<div class="card border-light">
							<div class="card-header">Info</div>
							<div class="card-body">
								<div class="mb-3">
									<label for="nome">File</label>
									<br>
									<input type="file" class="form-control" name="file" id="file"/>
								</div>		
								<div class="mb-3">
									<label for="nome" th:text="|#{nome}:|"></label>
									<span><input class="form-control" type="text" id="nome" th:field="*{nome}" /></span>
									<input hidden th:if="${attivita.id}" type="text" id="id" th:field="*{id}" />
									<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
								</div>		
								<div class="mb-3">
									<label for="descrizione" th:text="|#{descrizione}:|">Descrizione:</label>
									<span><textarea class="form-control" id="descrizione" type="text" th:field="*{descrizione}" /></span>
									<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
								</div>		
								<div class="mb-3">
									<label for="postiDisponibili" th:text="|#{attivita.posti}:|">Posti disponibili:</label>
									<span><input class="form-control" id="postiDisponibili" type="number" min="0" th:field="*{postiDisponibili}" /></span>
									<span th:if="${#fields.hasErrors('postiDisponibili')}" th:errors="*{postiDisponibili}"></span>
								</div>		
								<div class="mb-3">
									<label for="data" th:text="|#{attivita.data}:|">Data:</label>
									<span><input th:min="${#calendars.format(#dates.createNow(), 'yyyy-MM-dd')}" class="form-control" id="data" type="date" th:field="*{data}" /></span>
									<span th:if="${#fields.hasErrors('data')}" th:errors="*{data}"></span>
								</div>	
							</div>
						</div>
						<button class="btn btn-warning mt-2 float-end" type="submit" th:text="#{riepilogo}">Inserisci attività!</button>
					
					</div>
					<!--div class="col">
						<div class="card border-light">
							<div class="card-header">Indirizzo</div>
							<div class="card-body">
								<div class="mb-3">
									<label for="indirizzo">Indirizzo:</label>
									<span><input class="form-control" type="text" id="indirizzo" th:field="*{indirizzo.indirizzo}" /></span>
									<span th:if="${#fields.hasErrors('indirizzo.indirizzo')}" th:errors="*{indirizzo.indirizzo}"></span>
								</div>		
								<div class="mb-3">
									<label for="citta">Città:</label>
									<span><input class="form-control" id="citta" type="text" th:field="*{indirizzo.citta}" /></span>
									<span th:if="${#fields.hasErrors('indirizzo.citta')}" th:errors="*{indirizzo.citta}"></span>
								</div>		
								<div class="mb-3">
									<label for="provincia">Provincia:</label>
									<span><input class="form-control" id="provincia" maxlength=2 type="text" th:field="*{indirizzo.provincia}" /></span>
									<span th:if="${#fields.hasErrors('indirizzo.provincia')}" th:errors="*{indirizzo.provincia}"></span>
								</div>		
								<div class="mb-3">
									<label for="cap">CAP:</label>
									<span><input class="form-control" id="cap" type="text" th:field="*{indirizzo.cap}" /></span>
									<span th:if="${#fields.hasErrors('indirizzo.cap')}" th:errors="*{indirizzo.cap}"></span>
								</div>		
							</div>
						</div-->
						<!--div class="row">
							<div th:if="${#fields.hasGlobalErrors()}">
					  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
							</div>
						</div-->
					</div>
				</div>
			</form>
		</div>
    </main>
	
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>