<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.attivita})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<main role="main p">
	    <div class="container mt-5 mb-5 p-5 pt-2">
			<form th:action="@{/attivita}" method="POST" th:object="${attivita}">
				<div class="row">
					<h2 th:text="#{riepilogo}">Nuova attività</h2>
				</div>
				<div class="row">
					<div class="col w-75 mx-auto">
						<div class="card border-light ">
							<div class="card-header">Info</div>
							<img th:src="${attivita.immagine}" class="card-img-top mx-auto" style="height: 400px; width: auto" alt="...">	
							<div class="card-body">
								<div class="mb-3">
									<b><label for="nome" th:text="|#{nome}:|">Nome:</label></b>
									<span th:text="${attivita.nome}"></span>
									<input hidden th:if="${attivita.id}" type="text" id="id" th:field="*{id}" />
									<input hidden type="text" id="immagine" th:field="*{immagine}" />
									<input hidden type="text" id="nome" th:field="*{nome}" />
								</div>		
								<div class="mb-3">
									<b><label for="descrizione" th:text="|#{descrizione}:|">Descrizione:</label></b>
									<span th:text="${attivita.descrizione}"></span>
									<textarea hidden id="descrizione" type="text" th:field="*{descrizione}" />
								</div>		
								<div class="mb-3">
									<b><label for="postiDisponibili" th:text="|#{attivita.posti}:|">Posti disponibili:</label></b>
									<span th:text="${attivita.postiDisponibili}"></span>
									<input hidden id="postiDisponibili" type="number" th:field="*{postiDisponibili}" />
								</div>		
								<div class="mb-3">
									<b><label for="data" th:text="|#{attivita.data}:|">Data:</label></b>
									<span th:text="${#calendars.format(attivita.data, 'dd/MM/yyyy')}"></span>
									<input hidden id="data" type="date" th:field="*{data}" />
								</div>		
							</div>
						</div>
						<button class="btn btn-warning mt-2 float-end" type="submit" th:text="#{conferma}"></button>
					
					</div>
					<!--div class="col">
						<div class="card border-light">
							<div class="card-header">Indirizzo</div>
							<div class="card-body">
								<div class="mb-3">
									<label for="indirizzo">Indirizzo:</label>
									<span><input class="form-control" type="text" id="indirizzo" th:field="*{indirizzo.indirizzo}" /></span>
									<span th:if="${#fields.hasErrors('indirizzo.indirizzo')}" th:errors="*{indirizzo.indirizzo}"></span>
								</div>		
								<div class="mb-3">
									<label for="citta">Città:</label>
									<span><input class="form-control" id="citta" type="text" th:field="*{indirizzo.citta}" /></span>
									<span th:if="${#fields.hasErrors('indirizzo.citta')}" th:errors="*{indirizzo.citta}"></span>
								</div>		
								<div class="mb-3">
									<label for="provincia">Provincia:</label>
									<span><input class="form-control" id="provincia" maxlength=2 type="text" th:field="*{indirizzo.provincia}" /></span>
									<span th:if="${#fields.hasErrors('indirizzo.provincia')}" th:errors="*{indirizzo.provincia}"></span>
								</div>		
								<div class="mb-3">
									<label for="cap">CAP:</label>
									<span><input class="form-control" id="cap" type="text" th:field="*{indirizzo.cap}" /></span>
									<span th:if="${#fields.hasErrors('indirizzo.cap')}" th:errors="*{indirizzo.cap}"></span>
								</div>		
							</div>
						</div-->
						<!--div class="row">
							<div th:if="${#fields.hasGlobalErrors()}">
					  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
							</div>
						</div-->
					</div>
				</div>
			</form>
		</div>
    </main>
	
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>