<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.attivita})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<main role="main p">
	    <div class="container mt-5 mb-5 p-5 pt-2">
			<div class="row text-center">
				<h2 th:text="#{title.attivita.dettaglio}">Dettaglio attività</h2>
			</div>
			<div class="row">
				<div class="col">
					<div class="card border-light mb-3 w-50 m-auto">
						<div class="card-header" th:text="#{title.attivita}">Attività</div>
						<img th:src="${attivita.immagine}" class="card-img-top w-75 m-auto" alt="...">	
						<div class="card-body">
							<h5 class="card-title" th:text="${attivita.nome}">Titolo</h5>
							<p class="card-text" th:text="${attivita.descrizione}">Descrizione</p>
							<p><i class="fa fa-calendar" aria-hidden="true"></i> <b><span th:text="#{attivita.data}"></span>:</b> <span class="card-text" th:text="${#calendars.format(attivita.data, 'dd/MM/yyyy')}">Data</span></p>
							<p><i class="fa fa-user-o" aria-hidden="true"></i> <b><span th:text="#{attivita.prenotazioni}"></span>:</b> <span class="card-text" th:text="${attivita.prenotazioni.size()}">Data</span></p>
							<div th:if="${attivita.data.before(#dates.createNow())}">
								<p><i class="fa fa-star-o" aria-hidden="true"></i> <b><span th:text="#{attivita.punteggio}"></span>:</b> <i th:if="${attivita.getRating() != 0}" th:each="i : ${#numbers.sequence( 0, attivita.getRating()-1)}" class="fa fa-star"></i><span th:unless="${attivita.getRating() != 0}" th:text="#{attivita.noRecensioni}"></span></p>
								<div th:if="${attivita.getRating()!=0}">
									<h4 th:text="#{attivita.recensioni}"></h4>
									<div class="box" th:each="recensione:${attivita.getRecensioni()}">
										<p><span th:text="|${recensione.socio.nome} ${recensione.socio.cognome}|"/> <i th:each="i : ${#numbers.sequence( 0, recensione.punteggio-1)}" class="fa fa-star"></i>
										<br> <span th:text="${recensione.descrizione}"/> </p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<form th:action="@{/eliminaAttivita}" method="POST" th:object="${attivita}">
										<input hidden type="text" th:field="*{id}"/>
										<button class="btn btn-danger float-start mb-3" th:if="${attivita.data.after(#dates.createNow())}" th:text="#{attivita.elimina}">Elimina</button>
									</form>
								</div>
								<div class="col">	
									<button type="button" th:onclick="|window.location.href = '@{'/modificaAttivita/' +${attivita.id}}'|" class="btn headerColor float-end mb-3" th:if="${attivita.data.after(#dates.createNow())}" th:text="#{attivita.modifica}">Modifica</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </main>
	
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>