<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/base.html :: headerfiles(title=#{title.home})"> </head>
  <body>
  	<header th:replace="fragments/base.html :: intestazione"></header>
    <main role="main">
	    <div class="container mt-2 mb-1 p-5 pt-2">
			<div class="row mb-3">
				<div class="card border-light ">
					<div class="card-body">
						<h2 class="card-title" th:text="#{bentornato}">Bentornato!</h2>
						<hr />
						<div class="row">
							<h5 th:text="#{attivita.prossimaOrganizzata}">Prossima attività organizzata</h5>
							<div th:if="${prossimaOrganizzata}" class="row">
								<div class="col">
									<a th:href="@{|/dettaglioAttivita/${prossimaOrganizzata.id}|}">
										<img th:src="${prossimaOrganizzata.immagine}" class="w-100"/>
									</a>
								</div>
								<div class="col text-center my-auto">
									<a th:href="@{|/dettaglioAttivita/${prossimaOrganizzata.id}|}" class="text-dark"> <h3 th:text="${prossimaOrganizzata.nome}"></h3></a> 
									<p><i class="fa fa-list-ol" aria-hidden="true"></i> <b><span th:text="#{attivita.posti}"></span>:</b> <span class="card-text" th:text="${prossimaOrganizzata.postiDisponibili}">Posti</span></p>
									<p><i class="fa fa-calendar" aria-hidden="true"></i> <b><span th:text="#{attivita.data}"></span>:</b> <span class="card-text" th:text="${#calendars.format(prossimaOrganizzata.data, 'dd/MM/yyyy')}">Data</span></p>
									<p th:text="${prossimaOrganizzata.descrizione}"></p>
								</div>
							</div>
							<div th:unless="${prossimaOrganizzata}"> 
								<p th:text="#{attivita.nessunaOrganizzataHome}">Non ci sono attività previste nel futuro</p>
								<button type="button" th:onclick="|window.location.href = '@{'/addAttivita'}'|" class="btn headerColor" th:text="#{attivita.nuovaHome}">Crea una nuova attività</button>
							</div>
						</div>
						<hr/>
						<div class="row mt-3">
							<h5 th:text="#{attivita.prossimaPrenotata}">Prossima attività prenotata</h5>
							<div th:if="${prossimaPrenotata}" class="row">
								<div class="col text-center my-auto">
									<h3 th:text="${prossimaPrenotata.attivita.nome}"></h3> 
									<p><i class="fa fa-list-ol" aria-hidden="true"></i> <b><span th:text="#{attivita.posti}"></span>:</b> <span class="card-text" th:text="${prossimaPrenotata.attivita.postiDisponibili}">Posti</span></p>
									<p><i class="fa fa-calendar" aria-hidden="true"></i> <b><span th:text="#{attivita.data}"></span>:</b> <span class="card-text" th:text="${#calendars.format(prossimaPrenotata.attivita.data, 'dd/MM/yyyy')}">Data</span></p>
									<p th:text="${prossimaPrenotata.attivita.descrizione}"></p>
									<p><i class="fa fa-sticky-note-o" aria-hidden="true"></i> <b><span th:text="#{prenotazione.note}"></span>:</b> <span class="card-text" th:text="${prossimaPrenotata.note}">Note</span></p>
								</div>
								<div class="col text-center">
									<img th:src="${prossimaPrenotata.attivita.immagine}"/>
								</div>
							</div>
							<div th:unless="${prossimaPrenotata}"> 
								<p th:text="#{attivita.nessunaOrganizzataHome}">Non ci sono attività previste nel futuro</p>
								<button type="button" th:onclick="|window.location.href = '/attivita'|" class="btn headerColor" th:text="#{attivita.nuovaPrenotazioneHome}">Crea una nuova attività</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </main>
  	<footer th:replace="fragments/base.html :: fondo"></footer>
  </body>
</html>
