<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/base.html :: headerfiles(title=Login)"> </head>
  <body>
  	<header th:replace="fragments/base.html :: intestazione"></header>
    <main role="main">
		<div class="container p-5">
			<div class="row mb-3">
				<div class="card border-light w-50 m-auto">
					<div class="card-header">Login</div>	
					<div class="row">
						<div class="col p-3">
							<img src="/images/logo_only.png" class="card-img-top w-75 m-auto" alt="...">	
						</div>
						<div class="col p-3">
							<div class="card-body">
								<form th:action="@{/login}" method="POST">
									<div class="mb-3">
										<span><input class="form-control" type="text" id="username" name="username" placeholder="Username" required/></span>
									</div>		
									<div class="mb-3">
										<span><input class="form-control" id="password" type="password" name="password" placeholder="Password" required/></span>
									</div>
									<div class="row mb-3">
										<button class="btn headerColor mt-2 float-end" type="submit">Login</button>
									</div>
									<div class="row mb-3">
										<div class="col col-12">
											<a class="align-bottom h-100" th:href="@{/oauth2/authorization/google}" th:if="${#httpServletRequest?.remoteUser == undefined }">
												<img src="/images/sign_google.png"  style="background-color: white;" class="w-100"/>
											</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </main>
  	<footer th:replace="fragments/base.html :: fondo"></footer>
  </body>
</html>
