<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.prenotazioni})"> </head>
  <body>
  	<header th:replace="fragments/base.html :: intestazione"></header>
    <main role="main">
		<div class="container mt-2 mb-1 p-5 pt-2">
 			<div class="row">
				<div th:each="p : ${prenotazioni}" class="col-6 mx-auto">
					<div class="card border-light mb-3">
						<div class="card-header" th:text="#{prenotazione}">Prenotazione</div>
						<img th:src="${p.attivita.immagine}" class="card-img-top" alt="...">	
						<div class="card-body">
							<h5 class="card-title" th:text="${p.attivita.nome}">Titolo</h5>
							<p><i class="fa fa-calendar" aria-hidden="true"></i> <b><span th:text="#{attivita.data}">Data</span>:</b> <span class="card-text" th:text="${#calendars.format(p.attivita.data, 'dd/MM/yyyy')}">Data</span></p>
							<p><i class="fa fa-sticky-note-o" aria-hidden="true"></i> <b><span th:text="#{prenotazione.note}">Note</span>:</b> <span class="card-text" th:text="${p.note}">Descrizione</span></p>
							<button disabled class="btn headerColor float-end" th:if="${socio.hasRecensitoAttivita(p.attivita)}" th:text="#{recensione.gia}">Già recensito</button>
							<button type="button" th:onclick="|window.location.href = '@{'/addRecensione/' +${p.attivita.id}}'|" class="btn headerColor float-end" th:if="${!socio.hasRecensitoAttivita(p.attivita) and p.attivita.data.before(#dates.createNow())}" th:text="#{attivita.nuovaRecensione}">Lascia una recensione</button>
							<form th:action="@{/eliminaPrenotazione}" method="POST" th:if="${p.attivita.data.after(#dates.createNow())}">
								<input hidden type="number" name="id" th:value="${p.id}"/>
								<input hidden type="number" name="aId" th:value="${p.attivita.id}"/>
								<button class="btn btn-danger float-end" th:text="#{attivita.elimina}">Elimina</button>
							</form>
						</div>
					</div>
				</div>
				<div th:if="${prenotazioni.size() == 0}" class="col-12">
					<div class="card border-light p-3">
						<h3 th:text="#{prenotazione.nessuna}">Nessuna prenotazione effettuata</h3>
						<hr />
						<a href="/attivita">
							<button class="btn headerColor" th:text="#{attivita.vedi}">Vedi le attività disponibili!</button>
						</a>
					</div>
				</div>
			</div>
		</div>
    </main>
  	<footer th:replace="fragments/base.html :: fondo"></footer>
  </body>
</html>
