<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.profilo})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<main role="main p">
	    <div class="container mt-5 mb-5 p-5 pt-2">
			<form th:action="@{/socio}" method="POST" th:object="${socio}">
				<div class="row">
					<h2 th:text="#{title.profilo}">Profilo</h2>
				</div>
				<div class="row">
					<div class="col">
						<div class="card border-light">
							<div class="card-header">Info</div>
							<div class="card-body">
								<div class="mb-3">
									<label for="nome" th:text="#{socio.nome}">Nome:</label>
									<span><input class="form-control" type="text" id="nome" th:field="*{nome}" /></span>
									<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
								</div>		
								<div class="mb-3">
									<label for="cognome" th:text="#{socio.cognome}">Cognome:</label>
									<span><input class="form-control" id="cognome" type="text" th:field="*{cognome}" /></span>
									<span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
								</div>		
								<div class="mb-3">
									<label for="telefono" th:text="#{socio.telefono}">Telefono:</label>
									<span><input class="form-control" id="telefono" type="text" th:field="*{telefono}" /></span>
									<span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></span>
								</div>		
								<div class="mb-3">
									<label for="cognome">Email:</label>
									<span><input readonly class="form-control" id="email" type="email" th:field="*{email}" /></span>
									<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
								</div>		
								<div class="mb-3">
									<label for="dataDiNascita" th:text="#{socio.dataDiNascita}">Data di nascita:</label>
									<span><input class="form-control" id="dataDiNascita" type="date" th:field="*{dataDiNascita}" /></span>
									<span th:if="${#fields.hasErrors('dataDiNascita')}" th:errors="*{dataDiNascita}"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card border-light">
							<div class="card-header" th:text="#{socio.indirizzo}">Indirizzo</div>
							<div class="card-body">
								<div class="mb-3">
									<label for="indirizzo" th:text="#{socio.indirizzo}">Indirizzo:</label>
									<span><input class="form-control" type="text" id="indirizzo" th:field="*{indirizzo.indirizzo}" /></span>
									<span th:if="${#fields.hasErrors('indirizzo.indirizzo')}" th:errors="*{indirizzo.indirizzo}"></span>
								</div>		
								<div class="mb-3">
									<label for="citta" th:text="#{socio.citta}">Città:</label>
									<span><input class="form-control" id="citta" type="text" th:field="*{indirizzo.citta}" /></span>
									<span th:if="${#fields.hasErrors('indirizzo.citta')}" th:errors="*{indirizzo.citta}"></span>
								</div>		
								<div class="mb-3">
									<label for="provincia" th:text="#{socio.provincia}">Provincia:</label>
									<span><input class="form-control" id="provincia" maxlength=2 type="text" th:field="*{indirizzo.provincia}" /></span>
									<span th:if="${#fields.hasErrors('indirizzo.provincia')}" th:errors="*{indirizzo.provincia}"></span>
								</div>		
								<div class="mb-3">
									<label for="cap" th:text="#{socio.cap}">CAP:</label>
									<span><input class="form-control" id="cap" maxlength="5" type="text" th:field="*{indirizzo.cap}" /></span>
									<span th:if="${#fields.hasErrors('indirizzo.cap')}" th:errors="*{indirizzo.cap}"></span>
								</div>		
							</div>
						</div>
						<!--div class="row">
							<div th:if="${#fields.hasGlobalErrors()}">
					  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
							</div>
						</div-->
						<input hidden th:field="*{id}"/>
						<input hidden th:field="*{provider}"/>
						<button class="btn btn-warning mt-2 float-end" type="submit" th:text="#{salva}">Salva</button>
					</div>
				</div>
			</form>
		</div>
    </main>
	
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>