<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.recensione})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<main role="main p">
	    <div class="container mt-5 mb-5 p-5 pt-2">
			<form th:action="@{/recensione}" method="POST" th:object="${recensione}">
				<div class="row text-center">
					<h2 th:text="#{recensione.nuova}">Nuova recensione</h2>
				</div>
				<div class="row">
					<div class="col">
						<div class="card border-light mb-3 w-50 m-auto">
							<form th:action="@{/recensione}" method="POST">
								<div class="card-header" th:text="#{title.attivita}">Attività</div>
								<img th:src="${recensione.attivita.immagine}" class="card-img-top w-75 m-auto" alt="...">	
								<div class="card-body">
									<h5 class="card-title" th:text="${recensione.attivita.nome}">Titolo</h5>
									<p class="card-text" th:text="${recensione.attivita.descrizione}">Descrizione</p>
									<p><i class="fa fa-calendar" aria-hidden="true"></i> <b><span th:text="#{attivita.data}"></span>:</b> <span class="card-text" th:text="${#calendars.format(recensione.attivita.data, 'dd/MM/yyyy')}">Data</span></p>
									<p><i class="fa fa-star-o" aria-hidden="true"></i> <b><span th:text="#{attivita.punteggio}"></span>:</b> 
										<input type="radio" th:field="*{punteggio}" name="stars" value="1" />
											<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
											</label>
										<label>
											<input type="radio" th:field="*{punteggio}" name="stars" value="2" />
											<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
										</label>
										<label>
											<input type="radio" th:field="*{punteggio}" name="stars" value="3" />
											<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
										</label>
										<label>
											<input type="radio" th:field="*{punteggio}" name="stars" value="4" />
											<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
										</label>
										<label>
											<input type="radio" th:field="*{punteggio}" name="stars" value="5" />
											<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
										</label>
										<br>
										<span class="errors" th:if="${#fields.hasErrors('punteggio')}" th:errors="*{punteggio}"></span>
									</p>
									<div class="row">
										<div class="col">
											<p><i class="fa fa-sticky-note-o" aria-hidden="true"></i> <b><span th:text="#{descrizione}"></span>:</b> <textarea th:field="*{descrizione}" name="descrizione"></textarea>
											<br>
											<span class="errors" th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span></p>
										</div>
										<div class="col align-self-end">
											<input hidden th:field="*{attivita.id}" th:value="${recensione.attivita.id}"/>
											<button class="btn headerColor float-end mt-auto" th:text="#{conferma}">Invia la recensione</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</form>
		</div>
    </main>
	
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>