<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.recensioni})"> </head>
  <body>
  	<header th:replace="fragments/base.html :: intestazione"></header>
    <main role="main">
		<div class="container mt-2 mb-1 p-5 pt-2">
 			<div class="row">
				<div th:each="r : ${recensioni}" class="col-6">
					<div class="card border-light mb-3">
						<div class="card-header" th:text="#{recensione}">Recensione</div>
						<img th:src="${r.attivita.immagine}" class="card-img-top" alt="...">	
						<div class="card-body">
							<h5 class="card-title" th:text="${r.attivita.nome}">Titolo</h5>
							<p><i class="fa fa-calendar" aria-hidden="true"></i> <b><span th:text="#{attivita.data}"></span>:</b> <span class="card-text" th:text="${#calendars.format(r.attivita.data, 'dd/MM/yyyy')}">Data</span></p>
							<p><i class="fa fa-star-o" aria-hidden="true"></i> <b><span th:text="#{attivita.punteggio}"></span>:</b> <span class="card-text" th:text="${r.punteggio}">Descrizione</span></p>
							<p><i class="fa fa-sticky-note-o" aria-hidden="true"></i> <b><span th:text="#{descrizione}"></span>:</b> <span class="card-text" th:text="${r.descrizione}">Descrizione</span></p>
							<form th:action="@{/eliminaRecensione}" method="POST">
								<input hidden th:value="${r.id}" name="id" type="number" />
								<button class="btn btn-danger float-end" th:text="#{attivita.elimina}">Elimina recensione</button>
							</form>
						</div>
					</div>
				</div>
				<div th:if="${recensioni.size() == 0}" class="col-12">
					<div class="card border-light p-3">
						<h3 th:text="#{recensione.nessuna}">Nessuna recensione effettuata</h3>
						<hr />
						<a href="/prenotazioni">
							<button class="btn headerColor" th:text="#{inizia}">Inizia subito!</button>
						</a>
					</div>
				</div>
			</div>
		</div>
    </main>
  	<footer th:replace="fragments/base.html :: fondo"></footer>
  </body>
</html>
