<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.formSocio})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<main role="main p">
	    <div class="container mt-5 mb-5 p-5 pt-2">
			<form th:action="@{/signup}" method="POST">
				<div class="row">
					<h2 th:text="#{title.signup}">Registrati ora!</h2>
				</div>
				<div class="row">
					<div class="col">
						<div class="card border-light">
							<div class="card-header">Info</div>
							<div class="card-body">
								<div class="mb-3">
									<label for="nome" th:text="#{socio.nome}">Nome:</label>
									<span><input class="form-control" type="text" id="nome" th:field="*{socio.nome}" /></span>
									<span th:if="${#fields.hasErrors('socio.nome')}" th:errors="*{socio.nome}"></span>
								</div>		
								<div class="mb-3">
									<label for="cognome" th:text="#{socio.cognome}">Cognome:</label>
									<span><input class="form-control" id="cognome" type="text" th:field="*{socio.cognome}" /></span>
									<span th:if="${#fields.hasErrors('socio.cognome')}" th:errors="*{socio.cognome}"></span>
								</div>		
								<div class="mb-3">
									<label for="telefono" th:text="#{socio.telefono}">Telefono:</label>
									<span><input class="form-control" id="telefono" type="text" th:field="*{socio.telefono}" /></span>
									<span th:if="${#fields.hasErrors('socio.telefono')}" th:errors="*{socio.telefono}"></span>
								</div>		
								<div class="mb-3">
									<label for="cognome">Email:</label>
									<span><input class="form-control" id="email" type="email" th:field="*{socio.email}" /></span>
									<span th:if="${#fields.hasErrors('socio.email')}" th:errors="*{socio.email}"></span>
								</div>		
								<div class="mb-3">
									<label for="dataDiNascita" th:text="#{socio.dataDiNascita}">Data di nascita:</label>
									<span><input class="form-control" id="dataDiNascita" type="date" th:field="*{socio.dataDiNascita}" /></span>
									<span th:if="${#fields.hasErrors('socio.dataDiNascita')}" th:errors="*{socio.dataDiNascita}"></span>
								</div>
								<div class="mb-3">
									<label for="password">Password:</label>
									<span><input class="form-control" type="password" id="nome" th:field="*{credenziali.password}" /></span>
								</div>		
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card border-light">
							<div class="card-header" th:text="#{socio.indirizzo}">Indirizzo</div>
							<div class="card-body">
								<div class="mb-3">
									<label for="indirizzo" th:text="#{socio.indirizzo}">Indirizzo:</label>
									<span><input class="form-control" type="text" id="indirizzo" th:field="*{socio.indirizzo.indirizzo}" /></span>
									<span th:if="${#fields.hasErrors('socio.indirizzo.indirizzo')}" th:errors="*{socio.indirizzo.indirizzo}"></span>
								</div>		
								<div class="mb-3">
									<label for="citta" th:text="#{socio.citta}">Città:</label>
									<span><input class="form-control" id="citta" type="text" th:field="*{socio.indirizzo.citta}" /></span>
									<span th:if="${#fields.hasErrors('socio.indirizzo.citta')}" th:errors="*{socio.indirizzo.citta}"></span>
								</div>		
								<div class="mb-3">
									<label for="provincia" th:text="#{socio.provincia}">Provincia:</label>
									<span><input class="form-control" id="provincia" maxlength=2 type="text" th:field="*{socio.indirizzo.provincia}" /></span>
									<span th:if="${#fields.hasErrors('socio.indirizzo.provincia')}" th:errors="*{socio.indirizzo.provincia}"></span>
								</div>		
								<div class="mb-3">
									<label for="cap" th:text="#{socio.cap}">CAP:</label>
									<span><input class="form-control" id="cap" type="text" th:field="*{socio.indirizzo.cap}" /></span>
									<span th:if="${#fields.hasErrors('socio.indirizzo.cap')}" th:errors="*{socio.indirizzo.cap}"></span>
								</div>		
							</div>
						</div>
						<!--div class="row">
							<div th:if="${#fields.hasGlobalErrors()}">
					  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
							</div>
						</div-->
						<button class="btn btn-warning mt-2 float-end" type="submit" th:text="#{title.signup}">Registrati ora!</button>
					</div>
				</div>
			</form>
		</div>
    </main>
	
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>