<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.socio})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <div>
    	<h4 th:text="#{header.socio}">...</h4>
    	
    	<div th:if="${persona}" th:object="${socio}">
			<span th:text="*{nome}">qui-va-nome</span>
			<span th:text="*{cognome}">qui-va-cognome</span>
   		</div>
    	<div th:unless="${socio}">Non esiste</div>
    </div>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>