<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{header.soci})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
    	<h4 th:text="#{header.soci}">List of persons</h4>
		<ul>
			<li th:each="socio : ${soci}">
				<a href="socio.html" 
				   th:href="@{'/socio' + '/' + ${socio.id}}" 
				   th:text="|${socio.nome} ${socio.cognome}|">Paolo Rossi</a>
			</li>
		</ul>
	</div>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>
